/*
-Sánchez Valdivia Balam: Diseño de la pagina de animaciones y estetica junto con su respectivo css, enlazamiento de paginas para su funcionalidad
                         independiente al navegador (creacion de la mayoria de los documentos html y css).
-Martinez Anaya Marco Antonio : Creaccion de los logos de la pagina y creacion de uno unico, modificacion del texto del container 3 
y respaldo del .css
*/

body {
    background-color: #FFF1F2;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  h1 {
    color: #78172D;
    text-align: center;
  }

  table{
    text-align: left;
    width: 1000px;
  } 

  th, td{
    padding: 4px;
  }

  thead{
    background-color: #78172D;
    border-bottom: solid 4px black;
    color: #FFFFFF;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .container3 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    /*border: 5px solid;*/
    font-size: 14px; /* Modifica el tamaño de letra a 24 píxeles */
    font-family: Arial, sans-serif; /* Modifica el tipo de letra a Arial o una fuente sans-serif */
    /*animation: border-color-animation 3s infinite alternate;*/
    text-align: right;
    
  }
  
  .container3 a  /*Modificacion del texto del container cerrar seccion*/ {
    margin: 10px 0;
    font-size: 0.79em;
    color: #78172D;
    text-decoration: solid;
}
